language: java
sudo: false
install: true

addons:
  sonarqube:
    organization: "sankhaonline-github"
    token:
      secure: "337edd29ec0203690a81dd529d83d8914931b997"

jdk:
  - oraclejdk8

script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar

cache:
  directories:
   - '$HOME/.m2/repository'
   - '$HOME/.sonar/cache'

env:
- CI=true

after_success:
- bash <(curl -s https://codecov.io/bash)
 - mvn clean cobertura:cobertura org.eluder.coveralls:coveralls-maven-plugin:report
